body {
	font-family: 'Helvetica', sans-serif;
	margin: 0;
	padding: 0;
	background: #004747; /* Light blue background */
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	color: #FFF; /* Black text color */
	text-align: center;
}

/* White background profile card */
.profile-card {
	background: #006666; /* White background */
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
	width: 90%; /* or a fixed width, depending on your design */
	max-width: 400px; /* Maximum width of the card */
	margin: 20px; /* Optional: adds some space around the card */
}

.profile-pic {
    width: 35%;
    height: auto;
    border-radius: 50%;
    margin-top: -20%; /* Half the height to pull it up */
    border: 1x solid #006666; /* Border color same as body background */
}

h1 {
	font-size: 2em;
	margin-bottom: 0.2em;
	color: #FFF;
}

.subtitle {
    color: #7f8c8d;
}

.section {
    text-align: left;
    margin-top: 10px;
}

.section h2 {
    color: #3cbbbe; /* Golden color for section titles */
    border-bottom: 2px solid #3cbbbe
}

.section ul {
    list-style: none;
    padding: 0;
}

.section ul li a {
    color: #3cbbbe; /* Golden color for links */
    text-decoration: none;
}

.section ul li:not(:last-child) {
    margin-bottom: 5px;
}


h2 {
	font-size: 1.25em;
	font-weight: normal;
	margin-top: 0.75em;
	margin-bottom: 1em;
}
.social-icons {
	font-size: 1.5em;
	margin-bottom: 1em;
}
.social-icons a {
	color: #FFF;
	margin: 0 10px;
}
.social-icons a:hover {
	color: #ddd;
}
.btn {
	text-decoration: none;
	background: rgba(255, 255, 255, 0.1);
	color: #FFF;
	padding: 5px 10px;
	border: 2px solid #FFF;
	border-radius: 5px;
	transition: all 0.3s ease;
}
.btn:hover {
	background: rgba(255, 255, 255, 0.2);
}

a {
	color: #FFF;
	text-decoration: none;
}
a:hover {
	color: #ddd;
}	


/* Responsive styles */
@media (max-width: 768px) {
    h1 {
        font-size: 2em; /* Smaller font size for smaller screens */
    }

    h2 {
        font-size: 1em;
    }

    .social-icons i {
        font-size: 1em; /* Smaller icons for smaller screens */
    }
}

@media (max-width: 480px) {
    .profile-card {
        padding: 10px; /* Less padding for very small screens */
    }

    .social-icons i {
        margin: 0 5px; /* Less space between icons for very small screens */
    }

    .btn {
        padding: 5px 10px; /* Smaller buttons for very small screens */
    }
}